BOT_TOKEN=replace_with_your_telegram_bot_token
JAVBUS_BASE_URL=https://www.javbus.com
UPSTREAM_ALLOWED_HOSTS=www.javbus.com
DATABASE_PATH=./data/bot.db
MAGNET_CACHE_TTL=1800
GROUP_MAX_MAGNETS=3
PRIVATE_MAX_MAGNETS=20
MAX_CONCURRENT_FETCHES=3
MAX_UPSTREAM_REQUESTS_PER_MINUTE=60
MAX_UPSTREAM_RESPONSE_BYTES=5242880
USER_COOLDOWN_SECONDS=3
TELEGRAM_SEND_CONCURRENCY=2
STATISTICS_TIMEZONE=Asia/Shanghai
